# Ignore virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.env
# Ignore system files
.DS_Store
Thumbs.db

# Ignore unused large model files and dataset archives
model/resnet50_clothing_classifier.tflite
model/vgg19_clothing_classifier.tflite
*.zip


